@import "_fonts";
@import "_input";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-text1: #111111;
  --color-text2: #575757;
  --color-text3: #333333;
  --color-bg1: #f3f3f4;
  --color-bg2: #ebebec;
  --color-bg3: #e1e1e1;
  --color-accent: #ff9514;
  --color-w: #ffffff;
}

#app {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @media (max-width: 1119px) {
    padding: 64px 36px;
  }
  @media (max-width: 767px) {
    padding: 44px 20px;
  }
}

.form {
  width: 100%;
  &__title {
    max-width: 750px;
    font-family: "Nekst", sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: var(--color-text1);
    @media (max-width: 767px) {
      font-size: 34px;
      max-width: 400px;
    }
  }

  &__values-wrap {
  }

  &__result-wrap {
  }
}
.values {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;

  @media (max-width: 1119px) {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 44px;
    gap: 39px;
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 32px;
  }

  &__item {
    grid-column: span 4;
    @media (max-width: 767px) {
      grid-column: span 2;
    }
  }

  &__label {
    display: inline-block;
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-text2);
    margin-bottom: 24px;
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 136%;
      margin-bottom: 8px;
    }
  }

  &__input-wrap {
    position: relative;
  }

  &__input-format {
    // position: absolute;
    // top: 0;
    // left: 0;
    padding: 16px 24px;
    font-family: "Nekst", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-text2);
    @media (max-width: 767px) {
      padding: 17px 20px;
      font-size: 22px;
      line-height: 20px;
    }
  }

  &__input {
    position: relative;
    z-index: 2;
    display: block;
    padding: 16px 24px;
    width: 100%;
    border-radius: 16px;
    border: none;
    background-color: var(--color-bg1);
    font-family: "Nekst", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-text2);
    @media (max-width: 767px) {
      padding: 17px 20px;
      font-size: 22px;
      line-height: 20px;
    }
    &:focus {
      background-color: var(--color-w);
      outline: 2px solid var(--color-bg1);
    }
    &--rub,
    &--cost {
      background-color: transparent;
      color: transparent;
      &:focus {
        color: var(--color-text2);
        + .values__text--rub {
          opacity: 0;
        }
      }
    }
  }

  &__text {
    display: block;
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    font-family: "Nekst", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-text2);
    @media (max-width: 767px) {
      font-size: 22px;
      line-height: 20px;
    }
  }

  &__text--rub,
  &__text--cost {
    z-index: 1;
    right: auto;
    left: 0;
    padding: 16px 24px;
    width: 100%;
    border-radius: 16px;
    border: none;
    background-color: var(--color-bg1);
    @media (max-width: 767px) {
      padding: 20px;
    }
  }

  &__text--dec {
    max-width: 70px;
    padding: 15px 17px;
    font-size: 20px;
    line-height: 120%;
    border-radius: 16px;
    background-color: var(--color-bg2);
    right: 7px;
    @media (max-width: 767px) {
      font-size: 22px;
      line-height: 20px;
      border-radius: 12px;
      right: 6px;
    }
    &:focus {
      background-color: var(--color-w);
      outline: 2px solid var(--color-bg1);
    }
  }

  &__range {
    display: block;
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: 5;
  }
}

.result {
  margin-top: 51px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;

  @media (max-width: 1119px) {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 44px;
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 25px;
  }

  &__item {
    grid-column: span 4;
    &--btn {
      align-self: end;
      margin-bottom: 3px;
    }
    @media (max-width: 1119px) {
      grid-column: span 2;
      &--btn {
        grid-column: span 4;
        margin-bottom: 0;
      }
    }
    @media (max-width: 767px) {
      &:first-child {
        margin-bottom: 13px;
      }
      &--btn {
        grid-column: span 2;
      }
    }
  }

  &__label {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-text2);
    margin-bottom: 8px;
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 136%;
      margin-bottom: 2px;
    }
  }

  &__text {
    font-family: "Nekst", sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: var(--color-text3);
    @media (max-width: 767px) {
      font-size: 22px;
      line-height: 20px;
    }
  }

  &__btn {
    position: relative;
    display: block;
    width: 100%;
    min-height: 68px;
    border: none;
    border-radius: 40px;
    padding: 8px 16px 12px;
    text-align: center;
    font-family: "Nekst", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-w);
    background-color: var(--color-accent);
    transition: background-color 0.2s ease, opacity 0.2s ease;
    @media (max-width: 1119px) {
      width: 50%;
      margin-top: 12px;
    }
    @media (max-width: 767px) {
      width: 100%;
      min-height: 60px;
      margin-top: 16px;
      padding: 18px 16px 22px;
      font-size: 22px;
      line-height: 20px;
    }
    &:hover:not(:disabled) {
      transition: background-color 0.2s ease;
      background-color: var(--color-text1);
    }
    &:active:not(:disabled) {
      transition: background-color 0.2s ease;
      background-color: var(--color-text2);
    }
    &:disabled {
      transition: opacity 0.2s ease;
      opacity: 0.4;
    }
  }
}
